*{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color:#4B555D;
}

#circ{
    clip-path: circle(63.8% at 0 50%);
    background-color:#C4CBD0;
    height: 100vh;
    width: 70vw;
    position: absolute;
    top: 10;
    left: 0;
}

.card{
    position: absolute;
    background-color:#C4CBD0;
    right: 100px;
    height: 50vh;
    width: 33vw;
    top: 175px;
    border-radius: 25px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.447);
}

form{
    position: absolute;
    top: 100px;
    right: 10%;
   align-items: center;
}

input{
    margin-bottom: 20px;
}

.form-control{
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    position: relative;
    left: 10px;
}

.button{
    position: relative;
    padding: 15px 193px;
    background-color:#4B555D;
    border: 0;
    color: white;
    border-radius: 10px;
    left: 10px;
    top: 10px;
}

.p1{
    position: relative;
    top: 40px;
    left: 15px;
    font-family: 'Quicksand';
    font-size: 2rem;
}

a{
    position: relative;
    top:2.5px;
    font-size: 2rem;
    left: 240px;
}

.h2{
    position: relative;
    font-family: 'Quicksand';
    bottom: 8px;
    left:205px;
    width: 10vw;
    font-size: 2em;
    overflow: hidden;
}

#img{
    height: 90vh;
    width: 45%;
    background-image: url("int2.png");
    background-size: 100% 90vh;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 100px;
    left:100px;
}