*{
    margin: 0;
}

body{
   background-color: #C4CBD0; 
   background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAzL3JtNjE5LTA4LWEtZnJhbWUtc2ktMDAxYS1hLmpwZw.jpgz");  
   background-size: 100vw 100vh;
}

.card{
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 25vh;
    left: 25vw;
    text-align: center;
}

h2{
    position: absolute;
    top: 0;
    left: 49%;
    font-family: sans-serif;
    font-size: 2rem;
}

h3{
    position: absolute;
    top: 0;
    font-family: sans-serif;
    left: 10%;
    font-size: 4-=rem;
    width: 700px;
}

button{
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 50px;
    background-color: #4B555D;
    color: white;
    position: absolute;
    top: 40vh;
    left: 20vw;
}

h4{
    font-family: sans-serif;
    position: absolute;
    top: 46%;
    left: 43%;
}