*{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color:#4B555D;
}

.card{
    background-color:#B0BFD5;
    height: 65vh;
    width: 35vw;
    position: absolute;
    left: 5vw;
    top: 17vh;
    border-radius: 20px;
    border: 0;
}

#tri{
    background-color: #C4CBD0;
    clip-path: polygon(100% 16%, 9% 100%, 100% 100%);
    height: 80vh;
    width: 50vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.card{
    position: relative;
    background-color: #C4CBD0;
    left:5%;
    height: 70vh;
    width: 35%;
    top: 100px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.447);
}
 
form{
    position: absolute;
    top: 100px;
    left: 10%;
   align-items: center;
}

input{
    margin-bottom: 20px;
}

.form-control{
    width: 410px;
    padding: 20px;
    border-radius: 10px;
    border: 0;
}

.button{
    position: relative;
    padding: 15px 180px;
    background-color:#4B555D;
    border: 0;
    color: white;
    border-radius: 10px;
    right: 27px;
    top: 10px;
}

.p1{
    position: relative;
    top: 65px;
    left: 5px;
    font-family: 'Quicksand';
    font-size: 2rem;
}

a{
    position: relative;
    top: 26px;
    font-size: 2rem;
    left: 260px;
}

.button2{
    position: relative;
    padding: 15px 184px;
    background-color:#4B555D;
    border: 0;
    color: white;
    border-radius: 10px;
    right: 27px;
    top: 30px;
}

.h2{
    position: relative;
    font-family:'Quicksand';
    top: 20px;
    left:165px;
    font-size: 2em;
}

#img{
    height: 80vh;
    width:55vw;
    background-image:url("int.png");
    background-size: 55vw 80vh;
    position: absolute;
    right:0;
    bottom: 20px;
}